---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-6">
    {{ content }}
  </div>
  <div class="col-md-6">
    <!-- Use site.url instead of the GitHub metadata object -->
    <img src="{{ site.url }}/assets/img/home.jpg" alt="Home" width="100%">
  </div>
</div>


<div class="row g-5 mb-5">
  <div class="col-md-12">
    {% for post in site.posts %}
      <!-- post.url already starts with a /, so no extra slash between -->
      <p>
        <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
        &nbsp;–&nbsp;{{ post.date | date: "%B %-d, %Y" }}
      </p>
    {% endfor %}
  </div>
</div>
