---
layout: default
---

{{ content }}

<h3 class="fw-bold border-bottom pb-3 mb-5">Team</h3>
{% for person in site.data.settings.people %}
<div class="row g-5 mb-5">
  <div class="col-md-6">
    <h5>{{ person.title }} - {{ person.name }}</h5>
    {% if person.email %}
    <p>Email: <a href="mailto:{{ person.email }}">{{ person.email }}</a></p>
    {% endif %}
    {% if person.institution %}
    <p>{{ person.institution }}</p>
    {% endif %}
    {% if person.title == 'Post doc' or person.title == 'PhD Student' %}
      {% if person.text %}
      <p>{{ person.text }}</p>
      {% endif %}
    {% endif %}
  </div>
  {% unless person.title == 'MRes Student' %}
  <div class="col-md-6">
    {% if person.image %}
    <img src="{{ site.github.url }}/{{ person.image }}" alt="{{ person.name }}" width="100%">
    {% endif %}
  </div>
  {% endunless %}
</div>
{% endfor %}
